{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}Cash App{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <!-- Left-aligned title -->
                <a class="navbar-brand" href="#">{% block headertitle %}Cash App{% endblock %}</a>

                <!-- Dropdown for wallet type selection -->
                <div  class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="walletDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Wallet Type
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="walletDropdown">
                        <!-- Existing wallets -->
                        {% for wallet_type in wallet_types %}
                            <li><a class="dropdown-item" href="{% url 'home' %}?wallet_type={{ wallet_type }}">{{ wallet_type|capfirst }}</a></li>
                        {% endfor %}
                        
                        <!-- Add new wallet option with available wallet types -->
                        {% if missing_wallet_types %}
                            <li><hr class="dropdown-divider"></li>
                            <li class="dropdown-header">Add New Wallet</li>
                            {% for wallet_type in missing_wallet_types %}
                                <li><a class="dropdown-item text-success" href="{% url 'add_wallet_inline' wallet_type=wallet_type %}">Add {{ wallet_type|capfirst }} Wallet</a></li>
                            {% endfor %}
                        {% else %}
                            <li><a class="dropdown-item text-danger">All wallet types created</a></li>
                        {% endif %}
                    </ul>
                </div>

                <!-- Right-aligned button -->
                <div class="d-flex ms-auto">
                    <a class="btn btn-outline-primary" href="/">LogOut</a>
                </div>
                
            </div>
        </nav>
    </header>

    <div id="content">{% block content %} {% endblock %}</div>
</body>
</html>
