{% extends './base.html' %}
{% load static %}

{% block headertitle %}Transaction History{% endblock %}

{% block content %}
    <h2 align="center">Transaction History for {{ wallet.type|capfirst }} Wallet</h2>
    
    {% if transactions %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Beneficiary</th>
                    <th>Date</th>
                    <th>Slug</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.type|capfirst }}</td>
                    <td>{{ transaction.amount }} EGP</td>
                    <td>{{ transaction.benificiary }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.slug }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No transactions available for this wallet.</p>
    {% endif %}
{% endblock %}
