
{% extends './base.html' %}
{% load static %}

{% block headertitle %}Transaction History{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw</title>
</head>
<body>
    <h2>Withdraw from Wallet</h2>
    <form method="post">
        {% csrf_token %}
        <label for="amount">Amount to withdraw:</label>
        <input type="number" name="amount" required>
        <button type="submit">Withdraw</button>
    </form>
</body>
{% endblock %}